@media screen and (max-width: 400px) {

form {
	width: 65vw;
}

h1 {
	font-size: 8vw;
}


input[type = "text"], input[type= "password"]{
	width: 50vw;
}

input[type = "submit"]{
	width: 29vw;
	height: 11.75vw;
	margin-top: 7.50vw;
}

input[type = "text"]:focus, input[type= "password"]:focus {
	width: 235px;
}
}
@media screen and (max-width: 350px) {

input[type = "submit"]{
	padding: 0 2px 1px 0;
}

input[type = "text"]:focus, input[type= "password"]:focus {
	width: 195px;
}

#errormsg {
	font-size: 5.71vw;
}

}
